<h2 class='page-header'>Request A Tutor</h2>
<form (submit)='requestHelp()'>
  <div class='form-group'>
    <h4>Subject</h4>
    <input type='text' class='form-control' [(ngModel)]='subject' name='subject' placeholder="i.e. Algebra I">
    <h4>Topic</h4>
    <input type='text' class='form-control' [(ngModel)]='topic' name='topic' placeholder="i.e. Polynomials">
    <h4>Additional Information</h4>
    <input type='text' class='form-control' [(ngModel)]='addinfo' name='addinfo'>
  </div>
  <input type='submit' class='btn btn-primary'  value='Submit'><a class='btn btn-default' [routerLink]="['/dashboard']" value = "Cancel">Cancel</a>
</form>
