<div *ngIf='user'>
  <h2 class='page-header'>{{user.firstname}} {{user.lastname}}</h2>
  <ul class='list-group'>
    <li class='list-group-item'>School: {{user.school}}</li>
    <li class='list-group-item'>Grade: {{user.grade}}th</li>
    <li class='list-group-item'>Username: {{user.username}}</li>
    <li class='list-group-item'>Email: {{user.email}}</li>
    <li class='list-group-item'>Phone Number: {{user.phonenumber}}</li>
  </ul>

<a class='btn btn-primary' [routerLink]="['/update']" value = "Update">Update</a>   <button class='btn' (click)="myModal.open()"><h4>Delete Account</h4></button>
  <modal #myModal>
    <modal-content>
      <h3>Are you sure you want to delete your account?</h3>
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="myModal.close()">No</button><button class="btn btn-primary" (click)="myModal.close()" (click)="deleteUser(user._id)" (click)="refresh()" >Yes</button>
    </modal-footer>
  </modal>
</div>
