<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.col-xs-2{
  border-right: 1px solid #dddddd;
}
</style>


<h2 class='page-header'>My Request</h2>
<div class="data-list">

    <div class="col-xs-2">
      <h5>I Can Help</h5>
      <a href="/dashboard">Pending Requests</a>
        <br><br>
      <a href="/myacceptedrequests">Accepted Requests</a>
        <br><br>
      <h5>I Need Help</h5>
    <a href="/myrequest"><strong>My Pending Request</strong></a>
      <br><br>
    <a href="/mypastrequests">My Past Requests</a>
      <br><br>
      <a class='btn btn-primary' [routerLink]="['/request']" value = "Request">Request A Tutor</a>
        <br><br>
    </div>
    <div class = "col-xs-10">
      <div *ngFor="let docs of documents">
        <ul class='list-group'>
                <li class='list-group-item'>Name: {{docs.tutoreename}}</li>
                <li class='list-group-item'>Subject: {{docs.subject}}</li>
                <li class='list-group-item'>Topic: {{docs.topic}}</li>
                <li class='list-group-item'>Additional Information: {{docs.addinfo}}</li>
                <li class='list-group-item'>Email: {{docs.tutoreeemail}}</li>
                <li class='list-group-item'>Phone Number: {{docs.tutoreephonenumber}}</li>
                <input type = "button" class = 'btn btn-primary' value='Cancel' (click)="cancelHelp()" [routerLink]="['/dashboard']"><input type = "button" class = 'btn btn-default' value='Edit' [routerLink]="['/editrequest']">

        </ul>
        <br><br>
      </div>



    </div>
</div>
