<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.col-xs-2{
  border-right: 1px solid #dddddd;
}
</style>
<h2 class='page-header'>My Past Requests</h2>

<div class="data-list">
  <div class="col-xs-2">
    <h5>I Can Help</h5>
    <a href="/dashboard">Pending Requests</a>
      <br><br>
    <a href="/myacceptedrequests">Accepted Requests</a>
      <br><br>
    <h5>I Need Help</h5>
  <a href="/myrequest">My Pending Request</a>
    <br><br>
  <a href="/mypastrequests"><strong>My Past Requests</strong></a>
    <br><br>
    <a class='btn btn-primary' [routerLink]="['/request']" value = "Request">Request A Tutor</a>
      <br><br>
  </div>

<div class="col-xs-10">
<div *ngFor="let docs of documents">

  <accordion>
      <accordion-group  (click) = readRequests(docs._id) heading= "Time of Request: {{docs.timerequest}}  Subject: {{docs.subject}}     Topic: {{docs.topic}}      Name of Tutor: {{docs.tutorname}}">
        <div class = 'col-xs-7'>
        <h4>Time Request Was Accepted: {{docs.timeaccept}}</h4>
        <h4>Additional Information: {{docs.addinfo}}</h4>
        <h4>Email: {{docs.tutoremail}} </h4>
        <h4>Phone Number: {{docs.tutorphonenumber}}</h4>
      </div>
      <div class = 'col-xs-5'>
            <h4>Do you like {{docs.tutorname}} as a tutor?</h4>
            <button class="btn btn-primary" (click)="refresh()" (click)="rateTutor(docs.tutoremail)" (click)="disableRating(docs._id)" [disabled] = docs.rated><span class="glyphicon glyphicon-thumbs-up"></span></button>
      </div>
      </accordion-group>

  </accordion>
</div>
</div>
</div>
